/*-------------------- Colors -------------------*/
$HeaderBackgroundColor: linear-gradient(135deg, #459522 0%, #b1ea4d 100%);
$BodyBackgroundColor: rgba(87, 202, 133, 0.1);
$linkButton: #216321;

/*-------------------- Shadows ------------------*/
$textShadowColorDark: black;
$boxShadow: 0 4px 4px RGB(0 0 0 / 40%), 0 10px 10px RGB(0 0 0 / 40%);
