.linkButton {
  cursor: pointer;
  display: block;
  margin: 40px auto 20px auto;
  width: 80vw;
  height: 3rem;
  border-radius: 25px;
  background-color: $linkButton;
  box-shadow: $boxShadow;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  transform-origin: left;
  animation: ease-in-out 1s extend;
  & > a {
    display: block;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba($color: white, $alpha: 0);
    text-align: center;
    animation: ease-in-out 2s forwards textappearwhite;
  }
}
