.navbar {
  position: absolute;
  width: 100vw;
  height: 0;
  background: $HeaderBackgroundColor;
  text-align: center;
  transition: height 0.6s ease-in-out;
  transform-origin: top;
  top: 150px;
  overflow: hidden;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tb-desk {
      display: flex;
      justify-content: space-around;
      align-items: inherit;
      flex-direction: row;
      border-radius: 25px;
      margin: 0;
      background: $navbarColor;
      box-shadow: $boxShadowNav;
    }
    &__element {
      max-width: fit-content;
      color: white;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.5rem;
      @include tb-desk {
        font-weight: 600;
        border-bottom: 0px solid white;
      }
      &:hover a {
        transition: all 200ms ease-in-out;
        border-bottom: 2px solid white;
      }
    }
  }
}

.isOpen {
  transform-origin: top;
  height: 270px;
}
