html {
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    line-height: 3rem;
    color: white;
  }
  body {
    margin: 0;
    background: $BodyBackgroundColor;
  }
  main {
    line-height: 2rem;
    @include desktop {
      padding: 0 10vw 0 10vw;
    }
  }
  h1 {
    text-align: center;
    animation: ease-in-out 2s forwards slideinleft;
    font-size: 2rem;
    padding: 5px;
  }
  h2 {
    font-size: 1.2rem;
    padding: 5px;
  }
}
