html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    line-height: 3rem;
    color: white;
  }
  body {
    margin: 0;
    background: $BodyBackgroundColor;
  }
  section {
    padding: 0 20px 0 20px;
  }
  h2 {
    text-align: center;
    animation: ease-in-out 2s forwards slideinleft;
  }
}
