html {
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
    line-height: 3rem;
    color: white;
  }
  body {
    margin: 0;
    background: $BodyBackgroundColor;
  }
  main {
    @include desktop {
      padding: 0 15vw 0 15vw;
    }
  }
  h2 {
    text-align: center;
    animation: ease-in-out 2s forwards slideinleft;
  }
}
