.aboutkinesio {
  background-image: url(../../img/herophoto-2000w-background.webp);
  @include tablet {
    padding: 0 10vw 0 10vw;
  }
  @include desktop {
    display: grid;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  & p,
  h3,
  ul,
  li,
  q,
  em {
    animation: ease-in-out 2s forwards textappear;
    color: rgba($color: #000000, $alpha: 0);
  }
  &__about {
    @include desktop {
      line-height: 3rem;
    }
  }
  & h4 {
    @include desktop {
      margin: 0;
    }
  }
  &__aside {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 30px 20px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

    @include desktop {
      grid-row: 1;
      grid-column: 1/3;
    }
  }
}
