.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: ease-in-out 2s forwards textappear;
  &__title {
    text-align: center;
    animation: ease-in-out 2s forwards slideinleft;
  }
  &__portrait {
    animation: ease-in-out 2s appear;
    &__img {
      max-width: 400px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__describ {
      text-align: right;
    }
  }
}
