.home {
  & p,
  h2,
  h3,
  ul,
  li {
    animation: ease-in-out 2s forwards textappear;
    color: rgba($color: #000000, $alpha: 0);
  }
  &__title {
    text-align: center;
  }
  &__contact {
    display: flex;
    justify-content: center;
  }
}
