.home {
  & p,
  h2,
  h3,
  ul,
  li,
  q,
  em {
    animation: ease-in-out 2s forwards textappear;
    color: rgba($color: #000000, $alpha: 0);
  }
  &__title {
    text-align: center;
  }
  &__contact {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
  }
  &__aside {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 30px 20px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: rgba($color: grey, $alpha: 0.2);
    animation: ease-in-out 1s appear;
    &__citation {
      text-align: center;
      font-size: 1.3rem;
    }
    &__author {
      justify-self: flex-end;
      margin-top: 10px;
    }
  }
}
