.home {
  & p {
    padding: 20px;
    animation: 2s ease-in-out textappear;
  }
  &__contact {
    display: flex;
    justify-content: center;
  }
  &__hero {
    & img {
      min-width: 70vw;
    }
  }
  &__herotitle {
    position: absolute;
    top: 180px;
    right: 10px;
  }
}
