.home {
  & p {
    margin: 0;
    padding: 20px;
    animation: 2s ease-in-out textappear;
  }
  &__contact {
    display: flex;
    justify-content: center;
  }
  &__hero {
    & img {
      min-width: 70vw;
      @media all and (min-width: 769px) {
        min-width: inherit;
        max-height: 900px;
      }
    }
  }
  &__herotitle {
    position: absolute;
    top: 180px;
    right: 10px;
    @media all and (min-width: 769px) {
      top: 220px;
      right: 150px;
    }
  }
}
