.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tb-desk {
    display: grid;
    justify-content: center;
  }
  &__title {
    @include tb-desk {
      grid-column: 1/3;
      grid-row: 1;
    }
  }
  & > img {
    display: none;
    @include tb-desk {
      display: block;
    }
  }
  @import '../components/cardcontainer';
}
