.sessioncontent {
  &__kinesio,
  &__telipro {
    & > ol {
      padding: 4%;
      list-style: none;
      & > li {
        display: grid;
        position: relative;
        gap: 20px;
        & > p {
          padding: 4%;
          font-weight: bold;
          background-color: rgba($color: white, $alpha: 0.5);
        }
      }
    }
  }
  &__contact {
    width: 300px;
  }
}
