.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100vw;
  height: 150px;
  background: $HeaderBackgroundColor;
  box-shadow: $boxShadow;
  @include tb-desk {
    height: 280px;
    justify-content: center;
    overflow: hidden;
  }
  @import '../components/burgermenu';
  &__bgndImg {
    position: absolute;
    justify-self: center;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    width: 100vw;
    max-width: 255px;
    animation: ease-in-out 2s forwards appear;
    align-self: flex-end;
    @include tb-desk {
      top: 25px;
      width: 400px;
      max-width: 400px;
      grid-row: 1/3;
    }
  }
  &__title {
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: white;
    grid-column: 2;
    text-align: center;
    z-index: 3;
    animation: ease-in-out 2s forwards slideinright;
    @include tb-desk {
      grid-column: 2/3;
      grid-row: 2;
      font-size: 30px;
    }
    &__name {
      position: relative;
      top: 20px;
      left: -40px;
      font-weight: bolder;
      font-family: merienda;
      @include tb-desk {
        left: -60px;
      }
    }
    &__job {
      bottom: -80px;
      right: -60px;
      position: relative;
      display: block;
      font-weight: bolder;
      font-family: merienda;
      @include tb-desk {
        bottom: -80px;
        right: -60px;
      }
    }
  }
}
