.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100vw;
  height: 150px;
  background: $HeaderBackgroundColor;
  &__bgndImg {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    animation: ease-in-out 2s forwards appear;
  }
  &__title {
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: white;
    grid-column: 2;
    text-align: center;
    z-index: 3;
    animation: ease-in-out 2s forwards slideinright;
    &__name {
      position: relative;
      top: 20px;
      left: -60px;
      font-weight: bolder;
    }
    &__job {
      bottom: -80px;
      position: relative;
      display: block;
      font-weight: bolder;
    }
  }
  &__buttonBurgerMenu {
    background-color: transparent;
    border: none;
    position: absolute;
    justify-self: center;
    grid-column: 3;
    width: 48px;
    height: 48px;
    padding: 0;
  }
  &__burgerMenu {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 3;
    width: 40px;
    height: 39px;
    &__line {
      width: 80%;
      height: 5px;
      background-color: white;
      border-radius: 25px;
    }
  }
}
