.header {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100vw;
  height: 150px;
  background: $HeaderBackgroundColor;
  @include tb-desk {
    grid-template-rows: 3fr 1fr;
    height: 200px;
    justify-content: center;
    overflow: hidden;
  }
  &__bgndImg {
    position: absolute;
    justify-self: center;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    width: 100vw;
    max-width: 255px;
    animation: ease-in-out 2s forwards appear;
    @include tb-desk {
      margin-top: -50px;
      width: 500px;
    }
  }
  &__title {
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: white;
    grid-column: 2;
    text-align: center;
    z-index: 3;
    animation: ease-in-out 2s forwards slideinright;
    @include tb-desk {
      grid-column: 2/3;
      font-size: 30px;
    }
    &__name {
      position: relative;
      top: 20px;
      left: -40px;
      font-weight: bolder;
    }
    &__job {
      bottom: -80px;
      right: 0px;
      position: relative;
      display: block;
      font-weight: bolder;
      @include tb-desk {
        bottom: -60px;
        right: -100px;
      }
    }
  }
  &__buttonBurgerMenu {
    background-color: transparent;
    border: none;
    position: absolute;
    justify-self: center;
    grid-column: 3;
    width: 48px;
    height: 48px;
    padding: 0;
    @include tb-desk {
      display: none;
    }
  }
  &__burgerMenu {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 3;
    width: 40px;
    height: 39px;
    @include tb-desk {
      display: none;
    }
    &__line {
      width: 80%;
      height: 5px;
      background-color: white;
      border-radius: 25px;
    }
  }
}
